{% block body %}
	{{ include("Templates/header.twig") }}
	<div class="container">
		<h2>Bonjour
			{{humain.getHumain_login}}</h2>
		<p>{{score.getScore_humain_id}}</p>
		<p>{{humain.getHumain_id}}</p>
		<section class="choix-tables">
			<form action="./table" method="POST">
				<div class="tables">
					{% for i in 1..10 %}
						<label>
							<input type="radio" name="selectTable" value="{{i}}">
							<img class="click-table" src="./public/assets/ressources/click-{{i}}.png" alt="table-{{i}}">
						</label>
						{% for scoreUse in score %}
							{% if scoreUse.getScore_param1 == i%}
								<a href="./score/{{scoreUse.getScore_id}}">
									<figure class="border_score">
										<img src="./public/assets/ressources/score-{{i}}.png" alt="score-table{{i}}">
									</figure>
								</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<label>
						<input type="radio" name="selectTable" value="-1">
						<img class="click-table" src="./public/assets/ressources/click-tables.png" alt="tables">
					</label>
				</div>
				<section class="display-radio">
					<div class="ordre-desordre" id="display_if_tables">
						<ul>
							<li>
								<input type="radio" id="ordre" name="order" value="1" checked>
								<label for="ordre">
									<p class="inlet">
										<span class="text__effect">
											Ordre
										</span>
									</p>
									<span class="outer">
										<span class="inner"></span>
									</span>
								</label>
							</li>
							<li>
								<input type="radio" id="desordre" name="order" value="2">
								<label for="desordre">
									<p class="inlet">
										<span class="text__effect">
											Désordre
										</span>
									</p>
									<span class="outer">
										<span class="inner"></span>
									</span>
								</label>
							</li>
						</ul>
					</div>
					<div class="aide">
						<ul>
							<li>
								<input type="radio" id="billes" name="help" value="1" checked>
								<label for="billes">
									<p class="inlet">
										<span class="text__effect">
											Tableau de billes
										</span>
									</p>
									<span class="outer">
										<span class="inner"></span>
									</span>
								</label>
							</li>
							<li>
								<input type="radio" id="avt-apr" name="help" value="2">
								<label for="avt-apr">
									<p class="inlet">
										<span class="text__effect">
											Avant / Après
										</span>
									</p>
									<span class="outer">
										<span class="inner"></span>
									</span>
								</label>
							</li>
							<li>
								<input type="radio" id="aucune" name="help" value="0">
								<label for="aucune">
									<p class="inlet">
										<span class="text__effect">
											Aucune Aide
										</span>
									</p>
									<span class="outer">
										<span class="inner"></span>
									</span>
								</label>
							</li>
						</ul>
					</div>
				</section>

				<input type="hidden" name="id" value="{{humain.getHumain_id}}">
				<input type="hidden" name="scoreValeur" value="0">
				<input
				type="hidden" name="scoreOutilId" value="{{outils.getOutil_id}}">
				{# <input type="hidden" name="scoreId" value="{{score.getScore_id}}"> #}

				<div id="submit-btn">
					<input type="submit" name="submit" id="letsgo" value="C'EST PARTI !">
				</div>
			</form>
		</section>
	</div>
{% endblock %}
{# <footer></footer> #}
{# <script src="./public/assets/script/ajax.js"></script> #}
<script src="./public/assets/script/homepage.js"></script></body></html>
