{% block body %}
	{{ include("Templates/header_page_annexe.twig")}}
	<h2>Voici tes scores pour la table de {{table}}</h2>
	<table class="container_of_table">
		<thead>
			<tr>
				<th>
					<span>
						table de {{table}}
					</span>
				</th>
				<th>
					<span>
						Tableau de billes
					</span>
				</th>
				<th>
					<span>
						Avant / Après
					</span>
				</th>
				<th>
					<span>
						Aucune aide
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ordre </td>
				<td>
					{% for score in scores %}
						{% if score.score_param2 == 1 %}
							{% if score.score_param3 == 1 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for score in scores %}
						{% if score.score_param2 == 1 %}
							{% if score.score_param3 == 2 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for score in scores %}
						{% if score.score_param2 == 1 %}
							{% if score.score_param3 == 0 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Désordre</td>
				<td>
					{% for score in scores %}
						{% if score.score_param2 == 2 %}
							{% if score.score_param3 == 1 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}						
				</td>
				<td>
					{% for score in scores %}
	          {% if score.score_param2 == 2 %}
							{% if score.score_param3 == 2 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for score in scores %}
	          {% if score.score_param2 == 2 %}
							{% if score.score_param3 == 0 %}
								{{score.score_valeur}} / 10
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	{% if table == -1 %}
	<p>coucou</p>
	{% endif %}
	
{% endblock %}</body></html>
