{% block body %}
	{{ include("Templates/header_page_annexe.twig")}}
	<h2>Voici  tes scores pour la table de
		{{score.getScore_param1}}</h2>
	<table class="container_of_table">
		<thead>
			<tr>
				<th>
					<span>
						table de
						{{score.getScore_param1}}
					</span>
				</th>
				<th>
					<span>
						Tableau de billes
					</span>
				</th>
				<th>
					<span>
						Avant / Après
					</span>
				</th>
				<th>
					<span>
						Aucune aide
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ordre</td>
				{% if score.getScore_param2 == 1 %}
					{% if score.getScore_param3 == 1 %}
						<td>{{score.getScore_valeur}}
							/ 10</td>
					{% endif %}
				{% else %}
					<td></td>
				{% endif %}
				{% if score.getScore_param2 == 1 %}
					{% if score.getScore_param3 == 2 %}
						<td>{{score.getScore_valeur}}
							/ 10</td>
					{% endif %}
					{% else %}
						<td></td>
				{% endif %}
				{% if score.getScore_param2 == 1 %}
					{% if score.getScore_param3 == 0 %}
						<td>{{score.getScore_valeur}}
							/ 10</td>
					{% endif %}
					{% else %}
						<td></td>
				{% endif %}
			</tr>
			<tr>
				<td>Désordre</td>
				{% if score.getScore_param2 == 2 %}
					{% if score.getScore_param3 == 1 %}
						<td>{{score.getScore_valeur}}
							/ 10
						</td>
					{% endif %}
				{% else %}
					<td></td>
				{% endif %}
                {% if score.getScore_param2 == 2 %}
					{% if score.getScore_param3 == 2 %}
						<td>{{score.getScore_valeur}}
							/ 10</td>
				{% endif %}
					{% else %}
						<td></td>
					{% endif %}
                {% if score.getScore_param2 == 2 %}
					{% if score.getScore_param3 == 0 %}
						<td>{{score.getScore_valeur}}
							/ 10</td>
					{% endif %}
					{% else %}
						<td></td>
				{% endif %}
			</tr>
		</tbody>
	</table>
{% endblock %}</body></html>
