{% block body %}
	{{ include("Templates/header.twig")}}
	<section class="question_display">
		<div id="before_question"></div>
		<div id="question"></div>
		<div id="after_question"></div>
	</section>
	{# <div id="good-result">Suivant</div> #}
	{# <form action="" method="POST" id="click-result"> #}
		<div id="modal-container">
			<div class="modal-background">
				<div class="modal">
					<div class="wrapper">
						<ul>
							<li class="container-bille">
								<section class="sphere"></section>
								<span class="shadow"></span>
							</li>
							<li class="container-bille">
								<section class="sphere"></section>
								<span class="shadow"></span>
							</li>
							<li class="container-bille">
								<section class="sphere"></section>
								<span class="shadow"></span>
							</li>
						</ul>
					</div>
					<p>
						{% if param1 == -1 %}
							Tu as terminé la série des tables
						{% else %}
							Tu as terminé la table de
							{{param1}}
						{% endif %}
					</p>
					<span id="viewScore">
					</span>
					<div id="finalScore">
						
					</div>
				</div>
			</div>
		</div>
		<section class="content">
			<span id= "counter"> Nombres de clics : {{value}}</span>
			<div id="good-result">Suivant</div>
			<div class="colum-display">
				<div id="choice"></div>
				<div id="generateBille">
					<div id="colum"></div>
				</div>
			</div>
				<div id="table"></div>
		</section>
	{# </form> #}
{% endblock %}
<footer></footer>
<script>
let nombreSelectionner = {{ param1 }};
let order = {{ param2 }};
let help = {{ param3 }};
let outil = {{ outil }}
{# let id = {{ id }} #}
let resultScore = {{ value }}
if (nombreSelectionner == -1) {
order = 0
}
</script>
<script src="./public/assets/script/table.js"></script></body></html>
